html, body {
  background-color: #F2E7AC;
  background-image: url(plantitas.png);
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center;
}
header{
  background-color: #455473;
  height: 200px;
}
.logo{
  height: 150px;
}
.social{
  text-align: right;
  margin-right: 40px;
}
.socialIcons{
  height: 25px;
  padding-right: 10px;
}
fieldset{
background-color: transparent;
margin: 20px;
border: none;
}

select {
  background: white;
  border: 3px solid #9DC58B;
  border-radius: 15px;
  font-size: 16px;
  color: #455473;
  height: 40px;
  padding: 5px;
  width: 125px;
}
.poster{
  padding: 15px;
  height: 230px;
}
h3{
  font-size: 18px;
}
p{
  font-size: 14px;
}
.layout {
  display: grid;
  grid-template-columns: 393px 393px 393px;
  grid-template-rows: 498px 498px 498px;
  justify-content: space-between;
  padding: 100px;
  height: auto;
  ;
}
.caja {
  background-color: #9DC58B;
  margin:30px;
  border-radius: 15px;
}
footer{
  background-color: #56A632;
  height: 200px;
  line-height: 200px;
  color: white;
}
#button-up{
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer
}

.buttonTotoro{
  width: 60px;
}